.THIS.head {
    
    width:50%;
    background-color: blue;
    color:white;
    font-size:30px;
    font-family: verdana;
    font-weight: bold;
    padding:5px;
    margin: 100px auto 50px auto;
     border-radius: 10px 10px 0px 0px; 
}
.THIS.forinput{
 
    text-align:center;
  	width:40%;
    margin:auto;
    color:green;
      
}
.THIS.data{
    text-align:center;
  	width:50%;
    margin:auto;
}
.THIS.forbutton{
    color:white;
   text-align: center;
    margin-top:20px;
    margin-bottom:30px;
}